h1 {color:#c8a2c8; font-size:50px; font-family: Comfortaa, sans-serif; -webkit-text-stroke-width: 5px; -webkit-text-stroke-color: #c6a0c6;}
h2 {color:yellow; font-size: 20px;-webkit-text-stroke-width: 3px; -webkit-text-stroke-color: #d0d0d0;}
h3 {color:#c8a2c8;-webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #c6a0c6;}
a {color:#c8a2c8;-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #c6a0c6;}
p2 {color:white;-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #f0f0f0;}
body {
    font-family: 'Comfortaa';font-size: 20px;
}
