h1 {color:#c8a2c8; font-size:50px; font-family: Comfortaa, sans-serif;}
h2 {color:yellow; font-size: 20px;}
h3 {color:#c8a2c8;}
a {color:#c8a2c8;}
p {color:white;}
p2 {color:white;}
body {
    font-family: 'Comfortaa';font-size: 30px;
}
.Div_center {
border: 5px outset #c8a2c8;
background-color: black;
text-align: center;
position: relative;
left: 100px;
width: 1000px;
}
.Div_main {
border: 5px outset #c8a2c8;
background-color: black;
text-align: center;
position: relative;
width: 1200px;
left: 75px;
}