h1 {color:#c8a2c8; font-size:50px; font-family: Comfortaa, sans-serif;}
h2 {color:yellow; font-size: 20px;}
h3 {color:#c8a2c8;}
a {color:#c8a2c8;}
p2 {color:white;}
body {
    font-family: 'Comfortaa';font-size: 20px;
}